.about__title {
  margin: 0;
  max-width: 90vw;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 60px;
}

@media screen and (max-width: 450px) {
  .about__title {
    margin-top: 30px;
  }
}
