.menu {
  list-style: none;
  text-align: center;
  display: flex;
  position: absolute;
  top: 20px;
  background-color: transparent;
}

@media screen and (max-width: 500px) {
  .menu {
    max-width: 90%;
  }
}
